<?xml version="1.0" encoding="utf-8"?>
<web-app version="4.0">
	<display-name>JUMPlus-Project-3</display-name>
	<description></description>
	
	<!-- === Servlet Declarations === -->
	<servlet>
		<servlet-name>TestClass</servlet-name>
		<servlet-class>com.cognixia.jumplus.project3.anorthouse.TestClass</servlet-class>
		
		<init-param>
			<description>This is a test Servlet!</description>
			<param-name></param-name>
			<param-value></param-value>
		</init-param>
	</servlet>
	
	
	<!-- === Servlet Mappings === -->
	<servlet-mapping>
		<servlet-name>TestClass</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>