<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>JUMPlus-Project-3</display-name>
	<description>Servlet-JSP implementation of a banking app for DollarsBank.</description>
	
	<!-- === Servlet Declarations === -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.cognixia.jumplus.project3.anorthouse.service.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.cognixia.jumplus.project3.anorthouse.service.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>com.cognixia.jumplus.project3.anorthouse.service.LogOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Deposit</servlet-name>
		<servlet-class>com.cognixia.jumplus.project3.anorthouse.service.Deposit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Withdraw</servlet-name>
		<servlet-class>com.cognixia.jumplus.project3.anorthouse.service.Withdraw</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>com.cognixia.jumplus.project3.anorthouse.service.Transfer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccountInfo</servlet-name>
		<servlet-class>com.cognixia.jumplus.project3.anorthouse.service.AccountInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RecentTransactions</servlet-name>
		<servlet-class>com.cognixia.jumplus.project3.anorthouse.service.RecentTransactions</servlet-class>
	</servlet>
	
	
	<!-- === Servlet Mappings === -->
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/sign-in</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/sign-up</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/account/sign-out</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deposit</servlet-name>
		<url-pattern>/account/deposit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Withdraw</servlet-name>
		<url-pattern>/account/withdrawal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/account/transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecentTransactions</servlet-name>
		<url-pattern>/account/transactions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccountInfo</servlet-name>
		<url-pattern>/account/info</url-pattern>
	</servlet-mapping>
	
	
	<!-- === Welcome Page === -->
	<welcome-file-list>
		<welcome-file>/WEB-INF/welcome.jsp</welcome-file>
	</welcome-file-list>
</web-app>